* {
  margin: 0;
  padding: 0;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

.l-drawing {
  margin: 1em;
  text-align: center;
}

.l-interface {
  position: fixed;
  top: 0;
  right: 0;
  padding: 2em;
  line-height: 12px;
}

.menu {
  display: table;

     -moz-user-select: none;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
  .menu > * {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

.toggler {
  cursor: pointer;
  font-size: 26px;
  width: 26px;
  line-height: 0.9;
}

.is-linked > .secondary { opacity: 0; }

.is-linked .unlinked,
.is-unlinked .linked { display: none; }


#render.rotate45 {
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}
