* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#render {
  margin: 1em;
  text-align: center;
}

#menu {
  position: fixed;
  top: 0;
  right: 0;
  padding: 2em;
  line-height: 12px;
}
  #menu * {
    text-align: center;
    display: inline-block;
  }
  .is-linked #c2 {
    opacity: 0;
  }

a {
  font-size: 26px;
  width: 1em;
  text-decoration: none;
  color: #000;
}
